<!-- <footer class="main-footer">
  <strong>
    Copyright &copy; {{ currentYear }}
    <a href="javascript:;">MyProject</a>.
  </strong>
  <div class="float-right d-none d-sm-inline-block">
    <b>{{ "Version" | localize }} </b> {{ versionText }}
  </div>
</footer> -->
<div class="container">
  <h4 class="text-center mt-4">Khám phá Jeju</h4>
  <div class="row">
    <div class="item col-4">
      <img class="mw-100"
        src="https://s3-alpha-sig.figma.com/img/4d45/de8f/1dcbc5a35fcd9990caf28a1a2d7a3c07?Expires=1688342400&Signature=HDwZPWiPYhZ~sPuq38ZlJlemwCVQao7S3bPfOVVoUEJiNp8iwP5BL1HTql3gSuYwVDNIVej-HTQtSuV8wuJbpYW1q0sXdUaeWhKjwL0~vQ-64VkRfT~JTkZqdZqSU8tkCQu7FlyQsnHYhcIoiFCx0NBBLDvQiO5-tggVAd4a6kLhRGATyNh6snuhtSyNrCv1P9AOinV4XSMkpSMrYNjI30hfoMI1ggum6XmoBfg6IiznyE4cuuiIr~5PHXjrirk9b9ZpBOxf8JNyNfIdWC5ZgE-ehL5n15NHtZaH9zakXgkX4GEY6IHjUjQFzVjc8XBBsOTg-3Ne5CghtCFbiW3I-Q__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4"
        alt="" style="height: 250px" width="100%">
      <div class="title">
        <h6 class="">Mơ về hòn đảo tình yêu? Cẩm nang du lịch Jeju chi tiết nhất cho bạn đây</h6>
        <h6 class="author">Nguyễn Thuy Mộc Nhiên </h6>
        <a class="status">12min read</a>

      </div>
    </div>
    <div class="item col-4">
      <img class="mw-100"
        src="https://s3-alpha-sig.figma.com/img/9413/da4a/625da1808adc31788aa65f23b9a433e8?Expires=1688342400&Signature=h10eMM4neuOK4C~kb~yeRrRGCUe~WHF3VS5-jWXCxLYNjbqrmi5n-7A565wyURFojGH~RrZL6~HM5gqSUtaKH306t2L31NUVaHRLABW7HDe~~JbXbU-S~wwJbjpdmurSsXad3sNxixlWtLBab98yvSPXcnSPxpAuXgBQ1BrWBze8r8lpT4kTSj77WlyRyFABmhtUqOubiNGtx-BYS5ocJBwgPyGneVAkUSLMhC1i3bL00rX-MDCa6U0faIDjXDLexTrNIIHmS3BJnzLIfUYAK63nZCwtkvKVHzD7aWz4zmN0qQmUdJUhHh-KLAmzVucvqFbpSJf~Wm4HdzGjHLyKEA__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4"
        alt="">
      <div class="title">
        <h6 class="">Mơ về hòn đảo tình yêu? Cẩm nang du lịch Jeju chi tiết nhất cho bạn đây</h6>
        <h6 class="author">Nguyễn Thuy Mộc Nhiên </h6>
        <a class="status">12min read</a>

      </div>
    </div>
    <div class="item col-4">
      <img class="mw-100" style="height: 249px;"
        src="https://s3-alpha-sig.figma.com/img/2a0d/9c34/ea2fcd78c8139dee6d6805789d4950ab?Expires=1688342400&Signature=lzUJnDsY4nFckvY04R-Per3fgIQBhAsMAaV84BK4E8e6fVEXD4jvhK0WsYjnsDJvIARYSuWJ4lHkrut6jZr7lZxWTO37tYdwtGPdkio89xVRBLNS5pHRzjCNu4MmP0b2jPWpjWAaCID1AuctJ2Te5RNRJPOr-~mUNeT5umhcflG2er0ziRhK0pG6pcduGwyTyUuLMfeNtBSX9at~~5vo1XPgEC~QQ~2UhkFuwotdG05U3PUOoOsPEcPNLFHo4oWGcft1AeXdYLJr2RobCcjUPd7jjO7ROMFv6FhRVg11mVREtJ-AbecfUipWSTgG08PjGNbKkxZGozABNv~vueoKkA__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4"
        alt="">
      <div class="title">
        <h6 class="">Mơ về hòn đảo tình yêu? Cẩm nang du lịch Jeju chi tiết nhất cho bạn đây</h6>
        <h6 class="author">Nguyễn Thuy Mộc Nhiên </h6>
        <a class="status">12min read</a>

      </div>
    </div>
  </div>
  <section class=" m-5 ">
    <h3 class="text-center">Tại sao nên đặt chỗ tại Snake-Store</h3>
    <div class="row mt-3">
      <div class="col-3">
        <div class="img">
          <img
            src="https://s3-alpha-sig.figma.com/img/8adc/7222/d1dc80f67c916e5fa4e019a20637b9d4?Expires=1688342400&Signature=YDmioqKBeufFX~i0J1GSx1d~CKpamj1qrg~FQ6FLPM4yQuOo3A6EiRge1gvzR8-ylKBsr8Sh5R1lQ64aYTeaK1Zh53eYbOvv8T5EtBSNOMPT4dgyjbwWKJwSig-P~fIJPQzp2~jsqrL8w7ohbDh9wc9NotJR1qu-Nc~lqhdyUjkWA4vggGJ7xKWJk0pRUttYmXmrrWk6Au0Ds1oKCf4YqWVgEVf~eGD6NjtCUkljNDKcJzj~2-MnHfpiH-ISQlDcfX7~kmu6jLk0GAIyjfRpXuyft4PzkNlLmV8537UfH5DXrWtxEclWs1uqxaHHaLvkVTEiaLUpwD571XgG0FS21g__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4"
            alt="">
        </div>
        <div class="title-img">
          <p>Giải pháp du lịch hoàn thiện</p>
        </div>
        <span>Giải pháp toàn diện- giúp bạn tìm chuyến bay và khách sạn khắp Việt Nam và Đông Nam Á một cách tiết
          kiệm</span>
      </div>
      <div class="col-3">
        <div class="img">
          <img
            src="https://s3-alpha-sig.figma.com/img/27ef/6359/59ba5a859b23d8f136973030a09a5ae4?Expires=1688342400&Signature=d-UuSmZdIVss4sVIxPHj-~-DyLISs6xCZwYP0nAIADWx2n6D8mgxhKgpCuGtvlvQ5jjTAz~p-8rFw6XQmHHvvFAwtSreEDHRCovF-ZWvvh60l~px~CZDN6eJPtPelXvnu~inpf4L4JAs62q4-aeILKZY-Onwko5MDluuefw5gWIKtIBzvIMpr30EUu~IwL5Ehsj3SKydJSuFHT2NpaMyzGHYHQJEia3XifmVbVPObvFMEsrfLTyN7ozwiTPHX3GU1qvCp8tSpDFE~sYUzwcXOjQ8VQrbHMMCqRBfyzl1HsmG4m6ugQTqXt5TzaCdzEfPj5GlF9RA92P8HLJC3elEJw__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4"
            alt="">
        </div>
        <div class="title-img">
          <p>Giá rẻ mỗi ngày</p>
        </div>
        <span>Giá bạn thấy sẽ là giá bạn trả! Dễ dàng so sánh khi không cần phải trả thêm chi phí ẩn</span>
      </div>
      <div class="col-3">
        <div class="img">
          <img
            src="https://s3-alpha-sig.figma.com/img/422b/429c/db2259b4c00c518800a7903b68a19fdb?Expires=1688342400&Signature=qEIomIQsHDvWy6lCLL5QGWIjpYUo-NCRCxxguqczDGQZB6kOd~j3NLUhRVUtQ-W6h59SAboyfk~NMWWuJN~HVQw3zqR-DMhPErYzeJadXWAUTEUhQVo~EwlZTi9l7972ek6vEBm5fit~O1VEX1c2hMAtMje4cVDyo8SDaXEeIVfdP37goFjf~b9Ebdlx12APDZuZkNsyk69BUpObvvm05m1tbp5LOTTiHPIpEXVDkkN0pMbfQM8~8ZuK8Egn~qBBRGx5PyBozsUqAq4IQKH8uIvNrrhitmFy77vMv5L938vUmoxZoTfpiKimq~oIipcIUJh2OACncqTFjX9GtumVcA__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4"
            alt="">
        </div>
        <div class="title-img">
          <p>Phương thức thanh toán an toàn và linh hoạt</p>
        </div>
        <span>Giao dịch trực tuyến an toàn với nhiều lựa chọn như thanh toán tại cửa hàng tiện lợi, chuyển khoản ngân
          hàng, thẻ tín dụng internet. Không tính phí giao dịch</span>
      </div>
      <div class="col-3">
        <div class="img">
          <img
            src="https://s3-alpha-sig.figma.com/img/fa11/ffe4/0fc29f280564d941460a45062b0c2d47?Expires=1688342400&Signature=oG89giLL8EPj0k54o04HfI5jqX6LmWFAZuCXmzY3zkyAUiNt7fkEz7iOHoggDH5SBiVHlfN8HLvM1Cf33Xue6Tck50V2Fp9YiU6G3FVgTVp7qXHOYoXl-seM7p9ITK4BaUl6Orb9B8ESbxO5JywxAU4UH1FBQfWUq8q4gvI2zvFsTn4G5tIgMnCqCj~LGeBp1sF34cJGXreulH~huAhAD6sEdhai1ZG6xXSsECdlWkDiIgU3o1L2rxma4pE~8Q0F6N6xL7mDL0TPZBXAI9I7oJaLHZn1n0eWDzf4kVUDX0Qyhl4P1S0wthfrGIt8tPDJPv1ybBEimRsPN3dnxX38aQ__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4"
            alt="">
        </div>
        <div class="title-img">
          <p>Hỗ trợ 24/7</p>
        </div>
        <span>Đội ngũ nhân viên hỗ trợ khách hàng luôn sẵn sàng giúp đỡ bạn trong quá trình đặt vé</span>
      </div>
    </div>
  </section>
  <section>
    <h3 class="text-center">Bạn muốn khám phá điều gì?</h3>
    <div class="row">
      <div class="col-3">
        <ul>Các chặng bay và hãng bay</ul>
        <li>Vé máy bay đi Đà Nẵng</li>
        <li>Vé máy bay đi Phú Quốc</li>
        <li>Vé máy bay đi Nha Trang</li>
        <li>Vé máy bay đi Hà Nội</li>
        <li>Vé máy bay đi Đà Lạt</li>
        <li>Vé máy bay đi Hải Phòng</li>
      </div>
      <div class="col-3">
        <ul>Các khách sạn hàng đầu</ul>
        <li><a href="">Vé máy bay Sài Gòn - Hà Nội</a></li>
        <li><a href="">Vé máy bay Sài Gòn - Phú Quốc</a></li>
        <li><a href="">Vé máy bay Sài Gòn - Nha Trang</a></li>
        <li><a href="">Vé máy bay Sài Gòn - Đà Nẵng</a></li>
        <li><a href="">VÉ máy bay Sài Gòn - Đà Lạt</a></li>
        <li><a href="">Vé máy bay đi Singapore</a></li>
      </div>
      <div class="col-3">
        <p>Combo Vé máy bay và Khách sạn</p>
        <li><a href="">Vé máy bay Hà Nội - Sài Gòn</a></li>
        <li><a href="">Vé máy bay Hà Nội - Phú Quốc</a></li>
        <li><a href="">Vé máy bay Hà Nội - Đà Nẵng</a></li>
        <li><a href="">Vé máy bay Hà Nội - Nha Trang</a></li>
        <li><a href="">Vé máy bay Hà Nội - Đà Lạt</a></li>
        <li><a href="">Vé máy bay đi Sài Gòn</a></li>

      </div>
      <div class="col-3">
        <p>Hoạt động Tham quan và giải trí</p>
        <li><a href="">Vé máy bay Đà Nẵng - Hà Nội</a></li>
        <li><a href="">Vé máy bay Đà Nẵng - Sài Gòn</a></li>
        <li><a href="">Vé máy bay Hồ Chí Minh - BangKok</a></li>
        <li><a href="">Vé máy bay Hồ Chí Minh - Singapore</a></li>
        <li><a href="">Vé máy bay Hà Nội - BangKok</a></li>
        <li><a href="">Vé máy bay Đà Nẵng - Hà Nội</a></li>
      </div>
    </div>
  </section>

  <section class="input-footer container">
    <div class="row">
      <div class="col-7" style="margin-top: 1.19rem;">
        <!-- <i class="bi bi-envelope"></i> -->
        <h4>Bạn muốn tiết kiệm tới 50% khi đặt phòng và đặt vé máy bay</h4>
        <p>Nhập số điện thoại để Snake-tour có thể gửi đến bạn những chương trình khuyến mãi mới nhất</p>
      </div>
      <div class="col-5">
        <input style="width: 297px; height: 30px;" type="number">
        <button class="b-" style="background-color: #F36; margin-top: 2.06rem;"><a style="color: #fff;" href="">Đăng
            kí
          </a></button>
      </div>
    </div>
  </section>
  <section class="footer">
    <h3>SNAKE-TOUR</h3>
    <div class="row">
      <div class="col-4">
        <ul>Công ty cổ phần du lịch Việt Nam Snake
          <li><a href="">Tổng đài chăm sóc:0329200397</a></li>
          <li><a href="">Email: hotro@Snaketour.com</a></li>
          <li><a href="">Văn Phòng: Tầng 8 tòa nhà Kim Ánh Hà nội</a></li>
          <li><a href="">Văn Phòng Hồ Chí Minh: Tầng 3, tòa nhà ACM, 96 Cao thắng,Quận 3</a></li>
        </ul>
      </div>
      <div class="col-4">
        <ul>Chính sách và Quy định</ul>
        <li><a href="">Điều khoản và điều kiện</a></li>
        <li><a href="">Quy định về thanh toán</a></li>
        <li><a href="">Chính sách bảo mật thông tin</a></li>
        <li><a href="">Quy chế hoạt động</a></li>
      </div>
      <div class="col-4 ">
        <ul>Khách hàng và đối tác</ul>
        <li><a href="">Đăng nhập</a></li>
        <li><a href="">Tuyển dụng</a></li>
      </div>
    </div>
  </section>
</div>