<section class="container">
    <h3>Nhiều tính năng tiện lợi</h3>
    <div class="row ">
        <div class="col-2dot4">
            <img src="https://ik.imagekit.io/tvlk/image/imageResource/2023/06/07/1686109683770-0de509e062297a41ec946bfda95eea2b.png?tr=q-75,w-256"
                alt="">
        </div>
        <div class="col-2dot4">
            <img src="https://ik.imagekit.io/tvlk/image/imageResource/2023/06/07/1686109689547-360c2b13933490c880c7462c76b31c6d.png?tr=q-75,w-256"
                alt="">
        </div>
        <div class="col-2dot4">
            <img src="https://ik.imagekit.io/tvlk/image/imageResource/2023/06/07/1686109695279-31919238d72fc4fd92dc8e20a0c709c1.png?tr=q-75,w-256"
                alt="">
        </div>
        <div class="col-2dot4">
            <img src="https://ik.imagekit.io/tvlk/image/imageResource/2023/06/07/1686109700638-b92bf5072e13f53e088307ec31d8b527.png?tr=q-75,w-256"
                alt="">
        </div>
        <div class="col-2dot4">
            <img src="https://ik.imagekit.io/tvlk/image/imageResource/2023/06/07/1686109705817-5a460113f8d04999ff37828309b26008.png?tr=q-75,w-256"
                alt="">
        </div>

    </div>
</section>